include 1-ESSENTIALS/vars
<!DOCTYPE html>
html(lang='hu')
  head
    include 2-MODULES/head
  body
    header
      include 2-MODULES/header
    main
      section#landing
        h2 Szeretettel üdvözöljük a Bíbic vendégházak honlapján!
        div
          ul
            li
              img(src=assets+'img/hegedus.jpg')
              h3 Hegedüs Péter
              h4 Bíbic Vendégházak házigazdája
            li
              img(src=assets+'img/hegedusne.jpg')
              h3 Hegedüsné Kóró Ágnes
              h4 Fauna ház tulajdonosa
            li
              img(src=assets+'img/gombkoto.jpg')
              h3 Gombkötő Gábor
              h4 Flóra ház tulajdonosa
        p A nagybajomi panzió, illetve vendégház tervét családi ötletelés – Hegedüs Péter és Gombkötő Gábor, testvérek vagyunk- alkalmával találtuk ki 1998-ban. Majd hosszú évekig csak ötlet illetve tervezgetés maradt a finanszírozás hiánya miatt. 2008-ban azonban a Mezőgazdasági és Vidékfejlesztési Hivatal pályázatot írt ki, turisztikai fejlesztések támogatására. Ekkor,két négy napraforgós vendégház építésére támogatási kérelmet nyújtottunk be – Hegedüsné Kóró Ágnes és Gombkötő Gábor – a Hivatalhoz, melyet 2009-ben meg is ítéltek számunkra. Az előkészületek és az előfinanszírozás megszervezése után 2010-ben elkezdődhetett a Flóra ház építése (képek a médiatárban). 2012-ben kaptunk működési engedélyt. Jelenleg az utolsó fázis van folyamatban, kertépítés, parkosítás.
      section#bemutatkozas
        h2 Bemutatkozás
        p Vendégházaink négy napraforgós minősítéssel rendelkeznek. Ez azt jelenti, hogy rendelkezünk minden szobánkhoz külön fürdőszobával, a házainkban felszerelt konyha és közösségi (nappali) tér van, kerthelyiségünk, teraszunk bútorozott és zárt parkolót tartunk fenn vendégeink számára, valamint házunk megfelel a FATOSZ által elvárt minősítési követelményeknek.

      section#szolgaltatasok
        h2 Szolgáltatásaink
        h3 Galéria
        #szolgaltatasok-galeria
          ul
            li
              p Klimatizált helyiségek, fürdőszobás szobák, felszerelt konyha, tágas étkező-nappali, előadó terem.
            li
              p Klimatizált konferencia terem, bárpulttal, sörcsappal, vinotékával (50 főig).
            li
              p Kerti konyha, kemencével, bográcshellyel, csikó tűzhellyel (rem sütő), grillezővel, füstölővel, kerti bútorral. Az aktív pihenést kedvelőknek ping-pong asztal, kerékpárok a gyermekeknek játszó tér áll rendelkezésére.

      section#szobak
        h2 Szobák
        ul
          li
            h4 1. Szoba
            p Két személy részére franciaággyal, fürdőkádas fürdővel
            img(src=assets+'img/rooms/1_1.jpg')
          li
            h4 2. Szoba
            p Kétágyas szoba, pótágyazható kerekes székkel is megközelíthető, zuhanyozós fürdővel
            img(src=assets+'img/rooms/2_1.jpg')
          li
            h4 3. Szoba
            p Emeleti három ágyas szoba, erkéllyel, zuhanyozós fürdővel
            img(src=assets+'img/rooms/3_1.jpg')
          li
            h4 4. Szoba
            p Emeleti három ágyas, erkélyes szoba, pótágyazható, zuhanyozós fürdővel
            img(src=assets+'img/rooms/4_1.jpg')
          li
            h4 5. Szoba
            p Emeleti három ágyas szoba, pótágyazható, zuhanyozós fürdővel
            img(src=assets+'img/rooms/5_1.jpg')
          li
            h4 6. Szoba
            p Emeleti öt ágyas szoba, pótágyazható, zuhanyozós fürdővel
            img(src=assets+'img/rooms/6_1.jpg')


      section#arak
        h2 Árak
        #rooms
          p KEDVEZMÉNYES ÁRAK: EGYEDI AJÁNLAT ALAPJÁN! <span>KÉRJEN KÜLÖN AJÁNLATOT!</span>
          ul
            li
              h4 Két ágyas
              h4 7.000.-Ft/fő/éj
            li
              h4 Három ágyas
              h4 6.000.-Ft/fő/éj
            li
              h4 Pótágy
              h4 4.500.-Ft/fő/éj
            li
              h4 Teljes ház
              h4 90.000.-Ft max 19 fő
              
        #sorozo
          p Az árak forintban értendők, tartalmazzák a reggeli árát és az Idegenforgalmi adót. 
          h3 SÖRÖZŐ bérleti díjak
          h3 (a teljes teremre értendő, kiszolgáló eszközökkel és személyzettel 65m2):
          ul
            li
              h4 4 óra időtartamra <span>16.000.-</span>
            li
              h4 8 óra időtartamra <span>28.000.-</span>
            li
              h4 10 óra időtartamra <span>35.000.-</span>
            li
              h4 Egész napra <span>50.000.-</span>
              
      section#foglalas
        h2 Szállásfoglalás
        h3 
          a(href='mailto:'+reservation) #{reservation}
      section#galeria
        h2 Galéria
        #gallery
          img(src='' alt='Kép 1.')
    footer#kapcsolat
      include 2-MODULES/footer
    script(src=assets+'js/index.js')
