section#galeria
  h2 Galéria
  #gallery
    img(src=gallery+'0.jpg' alt='Kép 1.')
      
ul#logos
  li
    a(href=baseurl)
      img(src=icons+'bibic.png' alt='Bíbic vendégházak')
  li
    a(href=szallas target='_blank')
      img(src=icons+'szallas.png' alt='Szallas.hu')
  li
    a(href=booking target='_blank')
      img(src=icons+'booking.png' alt='Booking.com')

ul#reachout
  li
    a(href=address target='_blank')
      span #{addressString}
      img(src=icons+'map.png' alt='Cím')
  li
    a(href='mailto:'+email)
      span #{email}
      img(src=icons+'mail.png' alt='E-mail')
  li
    a(href='tel:'+tel)
      span #{telString}
      img(src=icons+'tel.png' alt='Telefon')
  li
    a(href=facebook target='_blank')
      span Facebook
      img(src=icons+'fb.png' alt='Facebook')
        
#copyright
  h4 Minden jog fenntartva. Képek, Design - © 
    a(href='') Boós Gergő
  h4 Design, Megvalósítás - © 
    a(href='http://balazsorban.com' target='_blank') Orbán Balázs
