ul
  li
    a(href='http://www.bibicvendeghazak.hu')
      img(src='' alt='Bíbic vendégházak')
  li
    a(href='#')
      img(src='' alt='Szallas.hu')
  li
    a(href='#')
      img(src='' alt='Booking.com')
  li
    a(href=address) #{addressString}
  li
    a(href='mailto:'+email) #{email}
  li
    a(href='tel:'+tel) #{telString}
  li
    a(href=facebook) Facebook
