title #{title}
meta(charset='utf-8')
meta(property='og:title', content=title)
meta(property='og:description', content='Bíbic vendégházak rövid bemutatkozó szöveg')
meta(property='og:url', content='bibicaruhazak.hu')
meta(property='og:image', content=baseurl+'/'+assets+'images/hero.jpg')
meta(name='description', content='Bíbic vendégházak rövid bemutatkozó szöveg')
meta(name='keywords' content='')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(href=assets+'img/icons/favicon.ico' sizes='64x64' type="image/x-icon" rel="icon")
link(rel='stylesheet', type='text/css', href=assets+'css/main.css')
