section#arak
  h2 Árak
  ul#room-prices
    each value in roomPrices
      li
        h4 #{value[1]}.-
          unless value[0] == 'Teljes ház'
            span fő/éj
          else
            span max 19 fő
        h5 #{value[0]}
          span #{value[2]} fő részére
        // TODO Add e-mail form ✉️
        a(href='#') Foglalás
  h3 KEDVEZMÉNYES ÁRAK: EGYEDI AJÁNLAT ALAPJÁN! <span>KÉRJEN KÜLÖN AJÁNLATOT!</span>
  h3 Az árak forintban értendők, tartalmazzák a reggeli árát és az Idegenforgalmi adót.               

  #pub-prices
    h2 SÖRÖZŐ bérleti díjak
    h3 (a teljes teremre értendő, kiszolgáló eszközökkel és személyzettel 65m<sup>2</sup>):
    ul
      each value in pubPrices
        li
          unless value[0] == 'Egész nap'
            h4 #{value[0]} óra
          else
            h4 #{value[0]}
          h5 #{value[1]}.-
