section#szobak
  h2 Szobák
  ul
    each val, index in rooms
      li( id='szoba-' + index class='room')
        .room-text
          h4= index
          div.room-text-body.room-text-hidden
            p #{val[0]}
            if val[2]
              h5 #{val[1]}.-/fő/éj pótágy+
            else
              h5 #{val[1]}.-/fő/éj
        .room-slider
          - var n = 0
          while n < val[3]
            img(src=images + 'rooms/' + index + '_' + n + '.jpg' alt='Szoba '+index+'., Kép '+(n+++1)+'.')
            
